<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas Redes Sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/giselemascarenhas/" target="_blank" class="Linkedin"></a>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </li>

                    <li>
                        <a href="https://github.com/giselemascarenhas" target="_blank" class="GitHub"></a>
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/giselemascarenhass/" target="_blank" class="Instagram"></a>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">© 2021 | Gisele R. Mascarenhas</span>
    </div>

</footer>
