<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
                <li class="nav-item active">
                    <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/169F6/production/_91026629_gettyimages-519508400.jpg" alt="Imagem do Panda" width="50px" height="50px" class="img-fluid rounded-circle">
                </li>
                <li class="nav-item pl-3">
                    <p class="m-0 font-weight-bold text-white fs-16">Bebê Panda</p>
                </li>
                <li class="nav-item pl-3">
                    <a href="">
                        <p class="text-white fs-16 m-0"><i class="fa fa-battery-quarter" aria-hidden="true"></i></p>
                    </a> 
                </li>
            </ul>
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold text-white fs-16">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>